* {
	font-family: 'Potta One', cursive;
	scrollbar-width: none;
}
*::-webkit-scrollbar {
	display: none;
}

nav,
footer {
	z-index: 1;
}

.btn:hover {
	font-weight: bold;
}

#back-ground {
	z-index: -1;
}

.fa-icon {
	color: black;
	z-index: -1;
}
